.home,.empCount,.tableView{
    list-style: none;
    margin-right: 20px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:larger;

}

.navItems{
    display: flex;
    position: relative;
}
